@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer components{
     .heading{
          @apply bg-green-700 py-3 px-1 text-white
     }
     .myBtn{
          @apply px-3 py-2 rounded-sm text-sm bg-green-700 hover:bg-green-600 text-white font-bold uppercase
     }
     .shadowStyle{
            @apply shadow-md px-2 pb-5 mb-10
     }
     .bg{
          @apply bg-slate-200 hover:bg-slate-300 duration-150
     }
 }


@layer base{
    .h1{
         font-size: 2rem;
    }
    .border-right{
         border-right: 1px solid rgb(176, 176, 176);
    }
    .active{
         color: red;
         font-weight: 600;
         border-right-color: red;
    }
    .nav-scrollbar-hide::-webkit-scrollbar{
     display: none;
    }
    .sliderImg{
      height: 275px;
    }
}
 


/*  caruser pagination button  */
.carousel-indicators [data-bs-target] { 
     display: none; 
 }
/*  caruser pagination button  */

 body{
    background:  linear-gradient( rgb(255, 255, 255) , rgb(230, 230, 234));
 }
 p{
     line-height: 1.5rem;
 }